/CSharp/bin
/CSharp/obj
/CSharp/Resources
CSharp/FiniteElementAnalysis.csproj.user
/SimpleMagneticConductionAnalysis/bin
/SimpleCurrentDensityExample/bin
/LinearStaticAnalysisExample2Beam/obj
/SimpleCurrentDensityExample/obj
/LinearStaticAnalysisExample/obj
/LinearStaticAnalysisExample2Beam/bin
/SimpleCurrentDensityExample/Meshes/old
/SimpleMagneticConductionAnalysis/obj
/StaticHeatConductionExperimentation/bin
/StaticHeatConductionExperimentation/obj
/TotoidMagneticConductionExample/bin
/TotoidMagneticConductionExample/obj
/LinearStaticAnalysisExample/output
/SimpleCurrentDensityExample/output
/TotoidMagneticConductionExample/output
